input[type="number"] {
  width: 3em;
}

body {
  background-color: grey;
}

#text {
  color: red;
}


* {
  box-sizing: border-box;
  margin:0;
  
}

/* Create two equal columns that float next to each other */
.column {
  float: left;
  width: 42%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#section {
  margin-bottom:.1;
}


